<div
  class="w-full px-3 py-4 border border-neutral-200 rounded-lg bg-neutral-50 flex flex-col gap-1"
>
  <!-- Calendar Title & Control Button -->
  <div class="flex justify-center">
    <button
      class="cursor-pointer rounded-sm hover:text-white hover:bg-primary-600"
      (click)="goToPreviousMonth()"
    >
      <svg lucideChevronLeft ></svg>
    </button>
    <h4 class="flex-1 flex justify-center text-sm font-bold lg:text-lg">{{ monthLabel() }}</h4>
    <button
      class="cursor-pointer rounded-sm hover:text-white hover:bg-primary-600"
      (click)="goToNextMonth()"
    >
      <svg lucideChevronRight ></svg>
    </button>
  </div>
  <!-- Weekdays -->
  <div class="grid grid-cols-7 place-items-center">
    @for (day of weekDays; track day) {
      <div class="flex w-10 h-8 items-center justify-center font-semibold text-xs lg:text-md">
        {{ day }}
      </div>
    }
  </div>
  <!-- Days -->
  <div class="grid grid-cols-7 place-items-center">
    @for (day of calendarDays(); track day.date.toISOString()) {
      <button
        type="button"
        class="flex w-10 h-8 rounded-md justify-center items-center text-xs lg:text-md"
        [class.text-neutral-400]="!day.isCurrentMonth"
        [class.text-neutral-700]="day.isCurrentMonth"
        [class.text-white]="day.isToday"
        [class.bg-primary-main]="day.isToday"
      >
        <span>{{ day.dayNumber }}</span>
      </button>
    }
  </div>
</div>
