<div
  class="w-full px-2 py-1.5 border border-neutral-200 rounded-lg bg-neutral-50 flex flex-col gap-2"
>
  <!-- Calender Title & Control Button -->
  <div class="flex justify-center">
    <button class="cursor-pointer"><app-chevron-left></app-chevron-left></button>
    <h4 class="flex-1 flex justify-center">{{ monthLabel() }}</h4>
    <button class="cursor-pointer"><app-chevron-right></app-chevron-right></button>
  </div>
  <!-- Days -->
  <div class="grid grid-cols-7">
    @for (day of calendarDays(); track day.date.toISOString()) {
      <button type="button">
        <span>{{ day.dayNumber }}</span>
      </button>
    }
  </div>
</div>
