@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@import './varibles.css';

@theme {
  --font-sans: 'Inter', sans-serif;

  --color-primary-900: var(--brand-900);
  --color-primary-800: var(--brand-800);
  --color-primary-700: var(--brand-700);
  --color-primary-600: var(--brand-600);
  --color-primary-main: var(--brand-500);
  --color-primary-400: var(--brand-400);
  --color-primary-300: var(--brand-300);
  --color-primary-200: var(--brand-200);
  --color-primary-100: var(--brand-100);
}
